.breadcrumbs {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;

  padding: 24px 32px 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: var(--font-size-xs);
  line-height: 1.6;
}

.overlayLink {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  display: inline-block;
}

.currentLink {
  color: var(--gray-600);
}

.pageTitle {
  font-family: var(--secondary-font);
  font-size: var(--font-size-2xl);
  font-weight: 700;
  line-height: 1.4;
}

/* Styles for tablet */
@media only screen and (min-width: 768px) {
  .breadcrumbs {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .breadcrumbs {
    max-width: 100%; 
  }
}
